# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FloodPredict/node_modules
FloodPredict/.pnp
FloodPredict/.pnp.js

# testing
FloodPredict/coverage

# next.js
FloodPredict/.next/
FloodPredict/out/

# production
FloodPredict/build

# misc
FloodPredict/.DS_Store
FloodPredict/*.pem

# debug
FloodPredict/npm-debug.log*
FloodPredict/yarn-debug.log*
FloodPredict/yarn-error.log*

# local env files
FloodPredict/.env.local
FloodPredict/.env.development.local
FloodPredict/.env.test.local
FloodPredict/.env.production.local

# vercel
FloodPredict/.vercel

# typescript
FloodPredict/*.tsbuildinfo


# api
FloodPredictAPI/FloodPredictAPI/bin
FloodPredictAPI/FloodPredictAPI/obj
FloodPredictAPI/.vs
FloodPredictAPI/FloodPredictAPI/Properties/PublishProfiles
FloodPredictAPI/FloodPredictAPI/appsettings.Development.json
FloodPredictAPI/FloodPredictAPI/FloodPredictAPI.user
