# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FloodForecast/node_modules
FloodForecast/.pnp
FloodForecast/.pnp.js

# testing
FloodForecast/coverage

# next.js
FloodForecast/.next/
FloodForecast/out/

# production
FloodForecast/build

# misc
FloodForecast/.DS_Store
FloodForecast/*.pem

# debug
FloodForecast/npm-debug.log*
FloodForecast/yarn-debug.log*
FloodForecast/yarn-error.log*

# local env files
FloodForecast/.env.local
FloodForecast/.env.development.local
FloodForecast/.env.test.local
FloodForecast/.env.production.local

# vercel
FloodForecast/.vercel

# typescript
FloodForecast/*.tsbuildinfo


# api
FloodForecastAPI/FloodForecastAPI/bin
FloodForecastAPI/FloodForecastAPI/obj
FloodForecastAPI/.vs
FloodForecastAPI/FloodForecastAPI/Properties/PublishProfiles
FloodForecastAPI/FloodForecastAPI/appsettings.Development.json
FloodForecastAPI/FloodForecastAPI/FloodForecastAPI.user

FloodForecastAPI/FloodForecastML/bin
FloodForecastAPI/FloodForecastML/obj
FloodForecastAPI/FloodForecastML/Properties/PublishProfiles
FloodForecastAPI/FloodForecastML/appsettings.Development.json
FloodForecastAPI/FloodForecastML/FloodForecastAPI.user
